.column {
  border: 2px solid rgb(153, 153, 255);
  padding: 15px;
  margin: 12px;
  width: 300px;
  float: left;
  background-color: #9092e3;
}

body {
  background-image: url(http://wallpapercave.com/wp/pEeUsp1.jpg);
}

body h1 {
  color:white;
  text-align: center;

}

.column h1 {
  color:black;
  text-align: center;
}

/* ===============
  Media Quries
  ================ */
  @media screen and (max-width:768px) and  (min-width:480px){
    body {
        background: #2125c6;
        color: #FFF;
    }

  }

  @media screen and (max-width:480px) {
    body {
        background: #060019;

    }

  }
